@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    ViewData["Title"] = "User Page";
}

@model ZomatoApp.Models.MST_OrderModel;

<div class="mt-4 mb-2">
    <form asp-controller="User" asp-action="FoodTypeWiseFood">
        <button class="btn border border-secondary text-secondary" type="submit">Back</button>
    </form>

</div>

<div class="container border border-gray rounded p-5 shadow">

    <h2><i class="bi bi-gear me-2 pb-5" style="font-size: 25px"></i>Order</h2>

    <hr />

    <form class="pt-3" method="post" asp-controller="User" asp-action="MST_Order_Insert">

        <input type="hidden" name="RestaurantID" asp-for="RestaurantID" value="@Model.RestaurantID" />
        <input type="hidden" name="FoodTypeID" asp-for="FoodTypeID" value="@Model.FoodTypeID" />
        <input type="hidden" name="FoodID" asp-for="FoodID" value="@Model.FoodID" />
        @*<input type="hidden" name="Amount" asp-for="Amount" value="@Model.Amount" />*@

        <div class="col my-4">
            <input type="number" class="form-control" asp-for="Quantity" min="1" placeholder="Quantity" aria-label="First name">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="col my-4">
            <input type="text" class="form-control" asp-for="Address" placeholder="Address" aria-label="First name">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="mt-4">

            @*<input type="hidden" asp-for="OrderID" />*@
            <button class="btn btn-primary" type="submit">Submit</button>

        </div>


    </form>

</div>