<div class="border rounded px-5 py-3 shadow-sm mb-3">

    <p class="text-secondary">
        <span class="ms-1 me-2">&#x2022</span> Filter
    </p>

    <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult" data-ajax-success="OnSuccess(this.id, data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" novalidate="novalidate">
        <div class="row">
            <div class="col ms-auto">
                <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                <div class="input-group">
                    <div class="input-group-text bg-transparent" style="font-size: 15px"><i class="bi bi-search"></i></div>
                    <input type="text" class="form-control" id="FoodName" name="FoodName" placeholder="Search Food Name here">
                    @* <input type="hidden" name="CountryName" value="CountryName" />*@
                </div>
            </div>
            <div class="col ms-auto">
                <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                <div class="input-group">
                    <div class="input-group-text bg-transparent" style="font-size: 15px"><i class="bi bi-search"></i></div>
                    <input type="text" class="form-control" id="Price" name="Price" placeholder="Search Price here">
                    @* <input type="hidden" name="CountryName" value="CountryName" />*@
                </div>
            </div>
            <div class="col ms-auto">
                <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                <div class="input-group">
                    <div class="input-group-text bg-transparent" style="font-size: 15px"><i class="bi bi-search"></i></div>
                    <input type="text" class="form-control" id="IsVegiterian" name="IsVegiterian" placeholder="Search IsVegiterian here">
                    @* <input type="hidden" name="CountryName" value="CountryName" />*@
                </div>
            </div>
            <div class="col ms-auto">
                <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                <div class="input-group">
                    <div class="input-group-text bg-transparent" style="font-size: 15px"><i class="bi bi-search"></i></div>
                    <input type="text" class="form-control" id="IsActive" name="IsActive" placeholder="Search IsActive here">
                    @* <input type="hidden" name="CountryName" value="CountryName" />*@
                </div>
            </div>
            <div class="col ms-auto">
                <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                <div class="input-group">
                    <div class="input-group-text bg-transparent" style="font-size: 15px"><i class="bi bi-search"></i></div>
                    <input type="text" class="form-control" id="Review" name="Review" placeholder="Search Review here">
                    @* <input type="hidden" name="CountryName" value="CountryName" />*@
                </div>
            </div>
            <div class="mt-2">

                <p>
                    <label for="amount">Price range:</label>
                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <span id="currentValues"></span>
                <div id="slider-range"></div>

            </div>
            <div class="mt-3">
                <div class="col d-flex">
                    <div>
                        <div class="input-group">
                            <input type="button" class="btn border border-primary text-primary" id="applyFilterBtn" value="Apply Filter" placeholder="Search Country Code here">
                        </div>
                    </div>

                    <div class="ms-2">
                        <div class="">
                            @*<input type="hidden" name="RestaurantID" value="@HttpContextAccessor.HttpContext.Session.GetInt32("FoodTypeID")" />
                            <input type="submit" asp-action="FoodTypeWiseFood" class="btn" style="border: 2px solid rgba(10 , 10 , 10 , 0.5)" id="" value="Clear Filter" placeholder="Search Country Code here">
                            *@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 500,
                    values: [90, 100],
                    slide: function (event, ui) {
                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                        $("#currentValues").text("Current values: $" + ui.values[0] + " - $" + ui.values[1]);

                        // Additional code to send values to the server if needed
                        updateSliderValues(ui.values[0], ui.values[1]);
                    }
                });

                function updateSliderValues(value1, value2) {
                    $.ajax({
                        url: "Food/Food/UpdateSliderValues",
                        method: "POST",
                        data: { value1: value1, value2: value2 },
                        success: function (response) {
                            console.log("Slider values updated on the server.");
                        },
                        error: function (error) {
                            console.error("Error updating slider values:", error);
                        }
                    });
                }

                // Set initial value
                $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                    " - $" + $("#slider-range").slider("values", 1));

                $("#currentValues").text("Current values: $" + $("#slider-range").slider("values", 0) +
                    " - $" + $("#slider-range").slider("values", 1));
            });

            $("#applyFilterBtn").click(function () {
                var formData = $("#filterForm").serializeArray();
                var sliderValues = $("#slider-range").slider("option", "values");

                // Remove existing SliderValue1 and SliderValue2 entries from formData
                formData = formData.filter(item => item.name !== "SliderValue1" && item.name !== "SliderValue2");

                //alert("Hello");
                console.log("Data");
                console.log(formData);

                // Add individual parameters for SliderValue1 and SliderValue2
                formData.push({ name: "SliderValue1", value: sliderValues[0] });
                formData.push({ name: "SliderValue2", value: sliderValues[1] });

                $.ajax({
                    url: "/Food/Food/FoodFilter",
                    method: "POST",
                    data: formData,
                    success: function (response) {
                        console.log("Filter applied successfully.");
                    },
                    error: function (error) {
                        console.error("Error applying filter:", error);
                    }
                });
            });

        });

    </script>

}